body 
{
	margin:0;
	padding:0;
	
	
}


.interactionSize
{
	width:715px;
	height:500;
}
/*.PageContentSettings
{
 font-family:Arial;
 font-size:10pt;
 color:#000000;
 font-style:normal;
 font-weight:bold;
 padding-top:10px;
}*/
