	body{
		margin:0px !important;
	}
	.navigationBar{
		display:block;
		height:27px;
		position:absolute;
		top:2px;
		-webkit-border-bottom-right-radius:5px;
		-webkit-border-bottom-left-radius:5px;
		bottom:0px;
		left: 337px;
		width: 350px;
		
	}
	
	#divText
	{
		left:160px;
		position:absolute;
	}
	
	.right
	{
		float:left;
		width:200px;
		height:10px;
	}
	.left
	{
		float:left;
		width:230px;
		height:10px;
	}
	.addBookMark
	{
		background:url(images/addBookmark_plus.jpg);
		float:left;
		margin:4px 30px 0 px 30px;
		width:20;
		height:20;
		-webkit-background-size:100% 100%;
	}
	.navigationBarBack,
	.navigationBarCompleted
	{
		//opacity:0.5;
		height:19px;
		
		left:0px;
		
		float:left;
		-webkit-border-radius: 5px;
	}
	
	.navigationBarBack{
		background:white;
		width:348px;
		left:337px;
		margin:10px 0 0 0;
		-webkit-background-size:100% 100%;
	}
	
	.trLogo
	{
		left: 785px;
		position: relative;
		top: 5px;
	}
	
	.navigationBarCompleted
	{
		background:url(images/orangefill.png);
		width:0%;
	}
	
	.zindexLow
	{
		z-index:-1;
	}
	
	.zindexHigh
	{
		z-index:0;
	}

	#header
	{
		height: 44px;
		background-image:url(images/blackbg_fade.png);
		position: relative;
		top: 0px;
		left:0px;
		bottom:0px;
		width:1024px;
		z-index:10;
	}
	#toolsheader,#certificateHeader
	{
		display:none;
		height: 44px;
		background-image:url(images/blackbg_fade.png);
		position: relative;
		bottom:0px;
		width:1024px;
		z-index:15;
	}
	
	#gradedAnsHeader{
		display:none;
		height: 48px;
		background-image:url(images/blackbg_fade.png);
		position: relative;
		top: -4px;
		
		bottom:0px;
		width:1024px;
		z-index:15;
	}
	
	#done
	{
		border-bottom-left-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		border-top-left-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		height: 23px !important;
		line-height: 1.6em !important;
		position: relative;
		top: 12px;
		width: 60px;
		margin-right: 20px;
		background: url(images/ipad_tab_menu_seperator.png);
		-webkit-background-size: 100% 100%;
		border-width: 0px 5px 0px 8px;
		color: white;
		cursor: pointer;
		font-family: Helvetica;
		font-size: 12px;
		font-weight: bold;	
		text-align: center;
		text-shadow: black 0px 2px 2px;
	}

	.pageTitle
	{
	}
	#divPageTitle
	{
		background-color: transparent;
		color: white;
		display: block;
		font-family: Helvetica;
		font-size: 12px;
		font-weight: bold;
		height: 44px;
		left:95px;
		width:730px;
		text-align:center;
		top:25px;
		overflow-x: hidden;
		overflow-y: hidden;
		position: absolute;
		text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
		white-space: nowrap;
	}
	
	#maincontent
	{
		position: relative;
		height: 647px;
		width:1014px;
	}
	.divCenterColumn{
		position:absolute;
		height:99%;
		width:99%;
		background-color:#FFFFFF;
		-webkit-border-radius: 10px;
	}
	
	#left
	{
		width: 2px;
		height: 100%;
		position: absolute;
		top: 0px;
		bottom:0px;
	}
	
	@-webkit-keyframes fade {
	  0% {
			
			left:-300px;
	   }
	  
	  100% {
		 
		 left:-8px;
	   }
	}
	
	@-webkit-keyframes fadein {
	  0% {
			
			left:-8px;
	   }
	  
	  100% {
		 
		 left:-311px;
	   }
	}
	
	
	@-webkit-keyframes fadeint {
	  0% {
			
			left:0px;
			-webkit-transform: rotateZ(-3deg) rotateY(20deg) rotateX(20deg);

	   }
	  30% {
			-webkit-transform: rotateZ(-10deg) rotateY(30deg);
		}
	  100% {
		 
		 left:-1000px;
	   }
	}
	
	
	.contentDv
	{
		background-color:#FFFFFF;
		display:block;
		position:absolute;
		-webkit-border-radius: 10px;
	}

	
	.contentDvHide
	{
		//display:none;
		//position:absolute;
	}
	
	@-webkit-keyframes fadeintr {
	  0% {
			
			left:0px;
			-webkit-transform: rotateZ(3deg) rotateY(20deg) rotateX(-20deg);
	   }
	   30% {
			-webkit-transform: rotateZ(10deg) rotateY(30deg);
	  }
	  100% {
		 
		 left:1000px;
	   }
	}
	
	.pageturnleft
	{
		background-color:#FFFFFF;
		-webkit-border-bottom-right-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		position: absolute;
		left:0px;
		-webkit-border-bottom-right-radius: 8px;
		-webkit-animation-name: fadeint;
		-webkit-transform-origin: left 50%;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-transform: rotateY(-90deg);
	}
	
	.pageturnright
	{
		background-color:#FFFFFF;
		-webkit-border-bottom-right-radius: 20px;
		-webkit-border-bottom-left-radius: 20px;
		position: absolute;
		left:0px;
		-webkit-border-bottom-right-radius: 8px;
		-webkit-animation-name: fadeintr;
		-webkit-transform-origin: right 50%;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-transform: rotateY(-90deg);
	}
	
	
	#right
	{
		width: 2px;
		height: 100%;
		position: absolute;
		right: 0px;
		top: 0px;
		bottom:0px;
	}
	#footer
	{
		height: 44px;
		background-image:url(images/blackbg_fade.png);
		//background-color: #2f3943;
		position:relative;
		bottom:-13px;
		left:0px;
		width:1024px;
		//border-top: 1px solid black;
		z-index: 10;
	}
	
	#courseTitle
	{
		background-color: transparent;
		color: white;
		display: block;
		font-family: Helvetica;
		font-size: 18px;
		font-weight: bold;
		height: 44px;
		left:95px;
		width:730px;
		text-align:center;
		top:4px;
		overflow-x: hidden;
		overflow-y: hidden;
		position: absolute;
		text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
		white-space: nowrap;
		
	}
	
	.certificate
	{
		margin: 3px auto;
		cursor:pointer;
		display:none;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		font-family: Helvetica, sans-serif;
		color: #fff;
		-webkit-border-radius: 8px;
		text-align: center;
		text-shadow: #000 0px 1px 1px;	 
		position:absolute;
		left:70px;
		top:-4px;
		width:120px;
		height:30px;
		background-image: url(images/button.png);		
	}
	
	
	.blue
	{
		margin: 3px auto;
		display:none;
		cursor:pointer;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		font-family: Helvetica, sans-serif;
		color: #fff;
		-webkit-border-radius: 8px;
		text-align: center;
		/* Put a 1 pixel blur black shadow below the button's text   */
		text-shadow: #000 0px 1px 1px;	 
		position:absolute;
		left:400px;
		top:-3px;
		width:120px;
		height:30px;
		/* -webkit-border-image divides the leftButton image into 2 corners and middle part.	*/
		/* The left corner is 12 pixels wide. The right corner is 5 pixels wide and the middle part is 1 pixel. */
		background-image: url(images/button.png);		
	}
	
	.courseCatalg
	{
		cursor:pointer;
		color: #fff;
		font-size: 13px;
		font-weight: bold;
		font-family: Helvetica, sans-serif;
		color: #fff;
		-webkit-border-radius: 8px;
		text-align: center;
		/* Put a 1 pixel blur black shadow below the button's text   */
		text-shadow: #000 0px 1px 1px;	 
		position:absolute;
		left:20px;
		top:3px;
		width:120px;
		height:30px;
		/* -webkit-border-image divides the leftButton image into 2 corners and middle part.	*/
		/* The left corner is 12 pixels wide. The right corner is 5 pixels wide and the middle part is 1 pixel. */
		background-image: url(images/button.png);		
	}
	
	
	#logo
	{
		position: absolute;
		display:none;
		right: -15px;
		top: -8px;
		height:50px;;
		bottom:0px;
	}
	#logo>img
	{
		height:55px;;
	}
	#percentage
	{
		top: -17px;
		width: 200px;
		text-align: center;
		height:20px;
		line-height: 57px;
		position: absolute;
		z-index: 3;
		font-family: Helvetica;
		font-size: 12px;
		font-weight: bold;
	}
	
	.blackRight	 
	{
		//margin: 3px auto;
		border-width: 0px 8px 0px 5px;
		text-shadow: #000 0px 1px 1px;
		position:absolute;
		right:297px;
		top:3px;
		cursor:pointer;
		height:30px;
		/* -webkit-border-image divides the rightButton image into three parts. */
		/* The right and left corners of the image are respectively 12 pixels and 5 pixels wide. */
		/* This leaves 1 pixel for the midlle part of the image.		*/
		-webkit-border-image: url(images/rightButton.png) 0 12 0 5;
	}
	
	.blackLeft 
	{
		//margin: 3px auto;
		cursor:pointer;
		height:30px;
		/* Put a 1 pixel blur black shadow below the button's text   */
		text-shadow: #000 0px 1px 1px;	 
		border-width: 0px 5px 0px 8px;
		position:absolute;
		right:515px;
		top:3px;
		
		/* -webkit-border-image divides the leftButton image into 2 corners and middle part.	*/
		/* The left corner is 12 pixels wide. The right corner is 5 pixels wide and the middle part is 1 pixel. */
		-webkit-border-image: url(images/leftButton.png) 0 5 0 12;		
	}
	
	.tabIconImageCommon{
		
	}
	
	.tabIconDivCommon{
		position:absolute;
		//width:101px;
		height:70%;
		top:6px;
	}
	
	.courseMenuMain{
		position:relative;
		width:295px;
		left:4px;
		top:10px;
		background-color:white;
		min-height:250px;
		max-height:250px;
		padding-top:10px;
		padding-bottom:10px;
		-webkit-border-radius:7px;
	}
	
	.hideDiv{
		position:absolute;
		left:-1100px;
	}
	
	.hideAnimateDiv{
		-webkit-animation-name: moveDown;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes moveDownRight {
	  0% {
			
			left:0px;
	   }
	  
	  100% {
		 
		 left:1000px;
		}
	}
	
	.hideAnimateDivRight{
		-webkit-animation-name: moveDownRight;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes moveUp {
	  0% {
			
			left:1000px;
	   }
	  
	  100% {
		 
		 left:0px;
		 display:none;
	   }
	}
	
	@-webkit-keyframes moveDown {
	  0% {
			
			left:0px;
	   }
	  
	  100% {
		 
		 left:-1000px;
	   }
	}
	
	
	.showDiv{
		display:block;
		position:absolute;
	}
	
	.showPopupDiv{
		display:block;
		position:absolute;
		left:0;
	}
	.showAnimateDiv{
		-webkit-animation-name: moveUp;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes moveUpOut {
	  0% {
			
			left:1000px;
	   }
	  33%{
		left:600px;
	  }
	  67%{
		left:300px;
	  }
	  100% {
		 
		 left:0px;
		 display:none;
	   }
	}
	
	.showAnimateDivOut{
		-webkit-animation-name: moveUpOut;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-timing-function: ease-in-out;;
	}
	
	
	@-webkit-keyframes moveUpLeft {
	  0% {
			
			left:-1000px;
	   }
	 
	  100% {
		 
		 left:0px;
		 display:none;
	   }
	}
	
	.showAnimateDivLeft{
		-webkit-animation-name: moveUpLeft;
		-webkit-animation-duration: 0.1s;
		-webkit-animation-timing-function: linear;
	}
	
	
	.categoryView {
		background: white;
		width: auto;
		-webkit-border-radius:7px;
	}

	.categoryList {
	    background-color: white;
	    overflow: hidden;
	    padding: 0px;
	    margin: 0px;
	    height: auto;
	    -webkit-margin-top-collapse: separate;
	    -webkit-margin-bottom-collapse: separate;
	    position: relative;
	    width: auto;
		-webkit-border-radius:7px;
	}

	.categoryRowTemplate_template {
	    position: relative;
	    list-style-type: none;
	    overflow: hidden;
	    margin: 0px;
	    padding: 0px;
	    -webkit-margin-top-collapse: separate;
	    -webkit-margin-bottom-collapse: separate;
	    border-style: solid;
	    border-top-width: 0px;
	    border-right-width: 0px;
	    border-bottom-width: 2px;
	    border-left-width: 0px;
	    border-color: rgb(224, 224, 224);
	    width: auto;
	    height: 32px;
	}
	
	.subCategoryRowTemplate_template {
	    position: relative;
	    list-style-type: none;
	    overflow: hidden;
	    margin: 0px;
	    padding: 0px;
	    -webkit-margin-top-collapse: separate;
	    -webkit-margin-bottom-collapse: separate;
	    border-style: solid;
	    border-top-width: 0px;
	    border-right-width: 0px;
	    border-bottom-width: 2px;
	    border-left-width: 0px;
	    border-color: rgb(172, 172, 172);
	    width: auto;
	    height: 32px;
				
	}
	.bookmarkRowTemplate
	{
		position: relative;
	    list-style-type: none;
	    overflow: hidden;
	    margin: 0px;
	    padding: 0px;
	    -webkit-margin-top-collapse: separate;
	    -webkit-margin-bottom-collapse: separate;
	    border-style: solid;
	    border-top-width: 0px;
	    border-right-width: 0px;
	    border-bottom-width: 2px;
	    border-left-width: 0px;
	    border-color: rgb(172, 172, 172);
	    width: auto;
	    height: 35px;
		padding-top: 10px;
		padding-left: 10px;
		font-family: Helvetica;
	    font-size: 13px;
	}
	

	.categoryLabel_template {
	    position: absolute;
	    left: 40px;
	    top: 7px;
	    height: 22px;
	    right: 30px;
	    width: auto;
	    color: black;
	    font-family: Helvetica;
	    font-weight: bold;
	    font-size: 13px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	
	.nonChapterLabel_template ,
	.subChapterLabel_template {
	    position: absolute;
	    top: 7px;
	    height: 32px;
	    right: 30px;
	    width: auto;
	    color: black;
	    font-family: Helvetica;
	    font-weight: bold;
	    font-size: 13px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
	}
	
	.glossaryBookMarkLabel_template
	{
		position: absolute;
	    left: 10px;
	    top: 8px;
	    height: 22px;
	    right: 30px;
	    width: auto;
	    color: black;
	    font-family: Helvetica;
	    font-weight: bold;
	    font-size: 13px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
		
	}
	.subChapterLabel_template {
	    left: 40px;
	}
	
	.subChapterLabel_InActive_template {
	    position: absolute;
	    top: 7px;
	    height: 22px;
	    right: 30px;
	    width: auto;
	    color: #B9B9B9;
	    font-family: Helvetica;
	    font-weight: bold;
	    font-size: 13px;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    white-space: nowrap;
		left: 40px;
	}
	
	.subGlossaryLabel_template
	{
		left: 20px;
	}
	.nonChapterLabel_template {
	    left: 20px;
	}

	.rowArrow_template {
	    position: absolute;
	    width: 8px;
	    height: 13px;
	    background-repeat: no-repeat;
	    top: 9px;
	    right: 11px;
	    margin-left: auto;
	}
	.rowArrowIcon {
	    background-image: url(images/ipad_outline_chapter_unselect_arrow.jpg);
	}

	.categoryIcon_template{
		position: absolute;
	    left: 10px;
	    top: 6px;	
		width: 18px;
	    height: 18px;
	    background-repeat: no-repeat;
	}
	
	.categoryIconNotAttempted{
		background-image: url(images/ipad_outline_Star_Notstarted.png);
		-webkit-background-size:100% 100%;
	}
	
	.categoryIconInComplete{
		background-image: url(images/ipad_outline_Star_Incomplete.png);
		-webkit-background-size:100% 100%;
	}
	
	.categoryIconComplete{
		background-image: url(images/ipad_outline_Star_Complete.png);
		-webkit-background-size:100% 100%;
	}
	
	.subChapterBack
	{
		//margin: 3px auto;
		cursor:pointer;
		height:30px;
		font-family: Helvetica;
		text-shadow: #000 0px 1px 1px;	 
		border-width: 0px 5px 0px 8px;
		position:absolute;
		left:10px;
		top:8px;
		line-height:2em;
		font-weight: bold;
		font-size: 13px;
		-webkit-border-image: url(images/leftButton.png) 0 5 0 12;		
		color: white;
		text-align:center;
		width:55px;
	}
	.home
	{
	-webkit-border-image: url(images/left.png) 0 5 0 16 stretch stretch;
	border-width: 0px 5px 0px 8px;
	color: white;
	cursor: pointer;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	height: 32px;
	left: 10px;
	line-height: 2.5em;
	position: absolute;
	text-align: center;
	text-shadow: black 0px 1px 1px;
	top: 6px;
	float: left;
	width: 58px;
	}
	
	.catalog
	{
	-webkit-border-image: url(images/left.png) 0 5 0 16 stretch stretch;
	border-width: 0px 5px 0px 8px;
	color: white;
	cursor: pointer;
	font-family: Helvetica;
	font-size: 12px;
	font-weight: bold;
	height: 32px;
	left: 4px;
	line-height: 2.5em;
	position: absolute;
	text-align: center;
	text-shadow: black 0px 1px 1px;
	top: 15px;
	float: left;
	width: 58px;
	}
	
	.searchFieldFocus,
	.searchFieldBlur,
	.searchFieldHide
	{
		position:absolute;
		z-index:2;
		right:15px;
	}
	
	.searchFieldFocus
	{
		opacity:1.0;
	}
	.searchFieldBlur
	{
		opacity:0.5;
	}
	
	.searchFieldHide{
		display:none;
	}

	.chapItemMain
	{
		height: 242px;
		width:295px;
		overflow:hidden;
        background:white;
		-webkit-border-radius:7px;		
	}
	
	.subchapItemMain
	{
		overflow:hidden;
		position:relative;
		width:295px;
		left:4px;
		top:10px;
		min-height:261px;
		max-height:261px;
		background:white;
		-webkit-border-radius:7px;
	}
	.glsItemMain
	{
		max-height: 235px;
		min-height: 235px;
		overflow: hidden;
		position: relative;
		width: 295px;	
		overflow:hidden;
		-webkit-border-radius:7px;	
		background:white;	
	}

	.bookmarkItemMain
	{
		min-height: 242px;
		max-height:242px;
		width:295px;
		overflow:hidden;
		background:white;
-webkit-border-radius:7px;		
	}
	.searchItemMain
	{
		max-height: 258px;
		min-height: 258px;
		left: 4px;
		overflow: hidden;
		position: relative;
		background:white;
		-webkit-border-radius:7px;
		width:294px;
	}

	.toolItemMain
	{
		background: white;
		max-height: 253px;
		left: 4px;
		min-height: 253px;
		overflow: hidden;
		position: relative;
		top: 10px;
		width: 295px;
		-webkit-border-radius:7px;
	}
	

	/* Add styles for ipad popup */
	#popupHeaderArrow
	{
		z-index:115; 
		background: url(images/top.png) ;
		-webkit-background-size:100% 100%;
		overflow:auto;
	}
	
	#popupL
	{
		-webkit-box-sizing: border-box;
		position:absolute;	
	}
	
	#top
	{
		float:top;
		width:100%;
		height:25px;
		background-image:url('images/popup_outlineTop.png');
		-webkit-background-size:80% 100%;
		border-bottom-left-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		border-top-left-radius: 10px 10px;
		border-top-right-radius: 10px 10px
	}
	
	#topright
	{
		float:right;
		width:10px;
		height:25px;
		background-image:url('images/popup_cornerTR.png');
		-webkit-background-size:100% 100%;
	}
	
	#topleft
	{
		float:left;
		width:13px;
		height:25px;
		position:absolute;
		background-image:url('images/popup_cornerTL.png');
		-webkit-background-size:100% 100%;
	}
	
	#leftimage
	{
		float:left;
		width:10px;
		height:100%;
		background-image:url('images/popup_outlineLeft.png');
	}
	#popupL1
	{
		
	}
	#rightimage
	{
		float:right;
		width:10px;
		height:100%;
		background-image:url('images/popup_outlineRight.png');
		-webkit-background-size:100% 100%;
	}
	#bottom
	{
		float:bottom;
		width:100%;
		height:10px;
		background-image:url('images/ipad_popmiddlebottom.png');
		clear:both;
		-webkit-background-size:100% 100%;
		border-bottom-left-radius: 10px 10px;
		border-bottom-right-radius: 10px 10px;
	}
	
	#bottomright
	{
		float:right;width:10px;height:10px;background-image:url('images/ipad_poprightbottom.png');-webkit-background-size:100% 100%;
	}
	#bottomleft
	{
		float:left;width:13px;height:10px;position:absolute;background-image:url('images/ipad_popleftbottom.png');-webkit-background-size:100% 100%;
	}
	
	#scrollpopup
	{
		float:left;
		width:92%;
		height:100%;
		background:url('images/popbg.png');
		overflow:hidden;
		padding-left:6px;
		padding-right:6px;
		-webkit-background-size:100% 100%;
	}


	/* End ipad popup  styles */
	
	/* Add for goto popup */
	#gotopopupHeaderArrow
	{
		z-index:15; background: url(images/top.png) ;-webkit-background-size:100% 100%;overflow:auto;
	}
	
	#gotopopupL
	{
		height: 333px;
		left: 701px;
		top: 50px;
		width: 302px;
		position:absolute;	
		background-color:white;
		overflow:hidden;
		background:url(images/midlbg.png);
		-webkit-background-size:100% 100%;
		z-index:5;
	}
	
	#gototop
	{
		float:top;
		width:100%;
		height:44px;
		/*background-image:url('images/blackbg.png');*/
		background:transparent;
		-webkit-background-size:100% 100%;
	}
	.gotosearchtop
	{
		float:top;
		width:100%;
		height:35px;
		
		-webkit-background-size:100% 100%;
	}
	#gotostatictop
	{
		-webkit-background-size: 100% 100%;
		background-image: url(images/goto_top_ipad.png);
		height: 44px;
		left: 689px;
		overflow: hidden;
		position: absolute;
		top: 50px;
		width: 321px;
		z-index: 4;
	}
	#gototopbg
	{
		float:top;
		width:100%;
		height:48px;
		background-image:url('images/blackbg.png');
		-webkit-background-size:100% 100%;
	}
	
	#gotoleftimage
	{
		-webkit-background-size: 100% 100%;
		background: url(images/goto_side_bar.png);
		height: 332px;
		left: 1010px;
		position: absolute;
		top: 50px;
		width: 7px;
		z-index:4;		
	}
	.gotosearchleftimage
	{
		-webkit-background-size: 100% 100%;
		background: url(images/goto_side_bar.png);
		float: left;
		height: 86%;
		width: 7px;		
	}
	
	
	.gotoscrollpopup
	{
		-webkit-background-size: 100% 100%;
		/*float: left;*/
		height: 100%;
		overflow: hidden;
		padding-left: 0px;
		width: 100%;	
		z-index:5;
	}
	
	#searchscrollpopup
	{
		-webkit-background-size: 100% 100%;
		float: left;
		height: 100%;
		overflow: hidden;
		padding-left: 0px;
		position: relative;
		top: 10px;
		width: 100%;
	}
	
	.glossarymain
	{
		-webkit-background-size: 100% 100%;
		height: 235px;
		overflow: hidden;
		width: 302px;
		z-index:5;
	}
	#glossarycontent
	{
		-webkit-background-size: 100% 100%;
		overflow: hidden;
		padding-left: 0px;
		width: 100%;	
		z-index:5;
	}
	#glosscontentiframe
	{
		height: 100%;
		width:100%
	}

	#bookmarksmain
	{
		-webkit-background-size: 100% 100%;
		float: left;
		
		overflow: hidden;
		width: 100%;	
		z-index:5;
	}
	
	.outlinesubchapterscrollpopup
	{
		-webkit-background-size: 100% 100%;
		float: left;
		height: 331px;
		overflow: hidden;
		width: 100%;	
		z-index:5;
	}
	
	#gotorightimage
	{
		-webkit-background-size: 100% 100%;
		background: url(images/goto_side_bar.png);
		height: 332px;
		left: 683px;
		position: absolute;
		top: 50px;
		width: 7px;
		z-index: 10;
	}

	.gotosearchrightimage
	{
		-webkit-background-size: 100% 100%;
		background:url(images/goto_side_bar.png);
		float: right;
		height: 86%;
		width: 7px;
	}
	
	#gotobottom
	{
		-webkit-background-size: 100% 100%;
		background: url(images/goto_bottom_ipad.png);
		clear: both;
		height: 7px;
		left: 689px;
		position: absolute;
		top: 375px;
		width: 321px;
		z-index: 10;
	}
	.gotosearchbottom
	{
		-webkit-background-size: 100% 100%;
		background:url(images/goto_bottom_ipad.png);
		clear: both;
		height: 7px;
		
		width: 100%;
		z-index: 10;
		float:bottom;
	}
	
	
	/* End for goto popup */
	/* start the search popup styles */
		.gotosearchpopupL
		{
			height: 332px;
			left: 682px;
			top: 50px;
			width: 334px;
			position:absolute;	
			background-color:white;
			z-index:3;
			background:url(images/gotoPopupbg.png);
		-webkit-background-size:100% 100%;
		}
		.searchFieldFocus,
		.searchFieldBlur,
		.searchFieldHide
		{
			position:absolute;
			z-index:2;
			width:394px;
			height:30px;
			padding-top:5px;
		}


	input[type=search] 
		{
			color: black;
			text-align: left;
			cursor: pointer;
			width: 98%;
			letter-spacing: 0px;
			text-shadow: 0 0 2px gray;
			word-spacing: 1px;
			-webkit-border-radius:10px;
			-webkit-appearance:none;
			margin-left:4px;
			padding-left:20px;
		}	
	/* End the search popup styles */
	
	
	/* Start the ipad bookmark styles */
	
	#bookmarkL
	{
		width:235px;height:114px;background:url('images/bookmarkbg.png') #CCCCCC;-webkit-border-radius: 10px;-webkit-background-size:100% 100%;position:absolute; left: 350px; top: 300px; 
	}
	#bookmarkTitle
	{
		color:white; margin:5px 20px 5px;text-aligned:center;height:43px;width:80%
	}
	#txtbkDescription
	{
		height:20px;width:200px;padding-left:5px;
	}
	#addbookmark
	{
		float:right;
		background-image:url('images/savebtn.png');
		width:200px;
		height:30px;
		-webkit-background-size:100% 100%;
	}
	#closebookmark
	{
		margin-right:3px;float:right;background-image:url('images/cancel.png');width:47%;height:28px;-webkit-background-size:100% 100%; 
	}
	
	
	
	/* end the ipad bookmark styles */

	.popup
	{
		height:540px;
		width:300px;
		position:absolute;
		z-index:13;
		right:50px;
		top:80px;
		border:5px solid black;
		
		background:rgb(243,243,243);
		-webkit-border-radius:10px;
		overflow:hidden;
		display:none;
		
	}
	
	.tbackground
	{
		height:100%;
		width:100%;
		position:absolute;
		top:0px;
		left:0px;
		opacity:0.5;
		background:gray;
		display:none;
		z-index:12;
	}
	
	
	.popupTitle
	{
		width:100%;
		height:30px;
		background:gray;
		-webkit-border-top-right-radius:7px;
		-webkit-border-top-left-radius:7px;
		text-align:center;
		display:none;
	}
	.glossaryterm
	{
		width:100%;
		height:30px;
		text-align:center;
		display:block;
	}
	
	a
	{
	 color:black;
	 text-decoration:none;
	}
	
	/* styles for search popup */
	#searchL
	{
		position:absolute; 
		height:105px; 
		left: 350px; 
		top: 300px; 
		width:236px; 
		z-index:12; 
		background-image:url(images/searchbg.png);
		
	}
	#searchpopupTitle
	{
		position:relative;
	}
	#searchpopup
	{
		
		height:45px;
	}
	#searchText
	{
		position:relative;
		z-index:10;
		width:295px;
		height:25px;
		top:9px;
		left:0px;
	}
	#searchbttn
	{
		top:1px;
		margin-left:1px;
		width:25;
		height:25;
		position:absolute;
		z-index:11;
		background-image:url(images/search_str.jpg);
	}
	#searchL1
	{
	}
	/* End styles for search popup */
	
	/* Add popup styles for animation */

	.hidePopUpDiv{
		position:absolute;
		left:-320px;
		
	}
	
	.hideAnimatePopUpDiv{
		-webkit-animation-name: movePopUpDown;
		-webkit-animation-duration: 0.3s;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes movePopUpDown {
	  0% {
			
			left:0px;
	   }
	  
	  100% {
		 left:-320px;
	   }
	}
	
	.hideAnimatePopUpDivLR{
		-webkit-animation-name: movePopUpDownLR;
		-webkit-animation-duration: 0.3s;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes movePopUpDownLR {
	  0% {
			
			left:0px;
	   }
	  
	  100% {
		 left:320px;
	   }
	}
	
	.showAnimatePopUpDiv{
		-webkit-animation-name: movePopUp;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes movePopUp {
	  0% {
			left:320px;
	   }
	  
	  100% {
		 left:0px;
		 display:none;
	   }
	}
	
	.showAnimatePopUpDivLR{
		-webkit-animation-name: movePopUpLR;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-timing-function: linear;
	}
	
	@-webkit-keyframes movePopUpLR {
	  0% {
			left:-320px;
	   }
	  
	  100% {
		 left:0px;
		 display:none;
	   }
	}
	/* End popup styles */
	/* Bookmark styles */
	.bookMark
	{
		left: 965px;
		position: absolute;
		top: 0px;
		z-index: 2 !important;
		background:url(images/bookmark_normal.png);
		height:60px;
		width:48px;
		opacity:0.5;
		-webkit-background-size:100% 100%;
	}
	.bookMark_Done
	{
		background:url(images/bookmark_over.png) !important;
	}	
	.displayNone
	{
		display:none;
	}
	/* End Bookmark styles */
	
	/* tools styles */
	#toolsmain
	{
		-webkit-background-size: 100% 100%;
		float: left;
		height: 100%;
		overflow: hidden;
		width: 100%;	
	}
	#toolsDiv,#certificateDiv{
		position:absolute;
		height:660px;
		width:1024px;
		background-color:#FFFFFF;
		-webkit-border-radius: 10px;
	}
	
	#gradedAnsParent{
		position:absolute;
		height:660px;
		overflow:hidden;
		width:1024px;
		background-color:#FFFFFF;
		-webkit-border-radius: 10px;
	}
	
	#toolheader
	{
		display:none;
		background-color: gray;
		bottom: 0px;
		height: 48px;
		left: -8px;
		
		position: absolute;
		top: -4px;
		width: 1014px;
		z-index: 11;	
	}
	/*End tools */
	
	/*calculator styles */
	#gotocalcpopupL
	{
		height: 410px;
		left: 713px;
		position: absolute;
		top: 50px;
		width: 303px;
		z-index: 3;
		background:url(images/gotoPopupbg.png);
		-webkit-background-size:100% 100%;
	}
	#califrame
	{
		height: 97%;
		width:100%;
	}
	#gotocalleftimage
	{
		-webkit-background-size: 100% 100%;
		
		height: 370px;
		left: 0px;
		position: absolute;
		top: 44px;
		width: 7px;
		
	}
	#gotocalrightimage
	{
		-webkit-background-size: 100% 100%;
		
		height: 371px;
		left: 273px;
		position: absolute;
		top:43px;
		width: 7px;
		z-index: 10;
	}
	#gotocalbottom
	{
		-webkit-background-size: 100% 100%;
		
		clear: both;
		height: 7px;
		left: 0px;
		position: absolute;
		top: 407px;
		width: 280px;
		z-index: 10;
	}
	#gotocaltop
	{
		float:top;
		width:103%;
		height:35px;
		
		-webkit-background-size:100% 100%;
	}
	#cal
	{
		-webkit-background-size: 100% 100%;
		position:relative;
		left:12px;
		width: 100%;	
	}
	
	.calculatorHeaderLeft
	{
		left:104 px !important;
		top:15px !important;
	}
	/* End claculator styles. */
	
	.searchRowTemplate_template {
	    position: relative;
	    list-style-type: none;
	    overflow: hidden;
	    margin: 0px;
	    padding: 0px;
	    -webkit-margin-top-collapse: separate;
	    -webkit-margin-bottom-collapse: separate;
	    border-style: solid;
	    border-top-width: 0px;
	    border-right-width: 0px;
	    border-bottom-width: 2px;
	    border-left-width: 0px;
	    border-color: rgb(172, 172, 172);
	    width: auto;
	    height: 45px;
	}
	
	.backgroundCover
	{
		opacity:0.5;
		position:absolute;
		top:0px;
		left:0px; 
		height:100%; 
		width:100%; 
		background:gray;
		z-index:9;
		visibility:hidden;
	}
	
	.popupMsg
	{
	   height: 253px;
		left: 330px;
		position: absolute;
		top: 240px;
		width: 279px;
		z-index: 12;
		background:url(images/Glosarypopup.png);
		-webkit-background-size:100% 100%;
		display:none;
	}
	
	.popupTitleMsg
	{
		position:relative; 
		top:0;left:0;
		background:transparent;
		height:40px;
		width:100%;
		color:white;
		text-align:center;
		font-weight:bold;
		line-height:3em;
	}
	
	.popupTitleMsg>div
	{
		text-align:center;
		font-weight:bold;
		color:white;
		padding:1px;
	}
	
	#popupL1Msg
	{
		padding-left:9px;
		padding-top:5px;
		padding-right:5px;
	}
	
	.popupL1Msg
	{
		-webkit-background-size: 100% 100%;
		height: 152px;
		left: 8px;
		overflow: hidden;
		padding-left: 10px;
		padding-top: 10px;
		position: relative;
		top: 0px;
		width: 252px;
		background:url(images/glosarypopup_white.png);
	}
	
	.popupL1Msg>div
	{
		font-family:verdana;
		font-size:13px;
	}
	
	.popBottomMsg
	{
		-webkit-background-size: 100% 100%;
		height: 40px;
		left: 7px;
		position: relative;
		top: 7px;
		width: 265px;
		background:url(images/closeBtn.png);
	}
	
	.popBottomok
	{
		background:url(images/okButn.png) !important;
	}
	
	
	/*new classes for confirm box*/
	.confirmPopupMsg
	{
	   height: 253px;
		left: 330px;
		position: absolute;
		top: 240px;
		width: 279px;
		z-index: 12;
		background:url(images/Glosarypopup.png);
		-webkit-background-size:100% 100%;
		display:none;
	}
	
	.confirmPopupTitleMsg
	{
		position:relative; 
		top:0;left:0;
		background:transparent;
		height:40px;
		width:100%;
		color:white;
		text-align:center;
		font-weight:bold;
		line-height:3em;
	}
	
	.confirmPopupTitleMsg>div
	{
		text-align:center;
		font-weight:bold;
		color:white;
		padding:1px;
	}
	
	.confirmPopupL1Msg
	{
		-webkit-background-size: 100% 100%;
		height: 152px;
		left: 8px;
		overflow: hidden;
		padding-left: 10px;
		padding-top: 10px;
		position: relative;
		top: 0px;
		width: 252px;
		background:url(images/glosarypopup_white.png);
	}
	
	.confirmPopupL1Msg>div
	{
		padding-left:9px;
		padding-top:5px;
		padding-right:5px;
		font-family:verdana;
		font-size:13px;
	}
	
	.confirmPopBottomMsg
	{
		-webkit-background-size: 100% 100%;
		height: 40px;
		left: 7px;
		position: relative;
		top: 7px;
		width: 265px;
		background:url(images/closeBtn.png);
	}
	
	.confirmPopBottomok
	{
		-webkit-background-size: 100% 100%;
		-webkit-border-radius: 5px;
		height: 40px;
		left: 8px;
		position: relative;
		top: 7px;
		width: 127px;
		float:left;
		text-align:center;
		font-weight: bold;
		font-size: 16px;
		color:#5E5E5E;
		line-height:35px;
		
		background:url(images/confirmbtbg.png);
	}
	
	.confirmPopBottomcancel
	{	
		-webkit-background-size: 100% 100%;
		-webkit-border-radius: 5px;
		height: 40px;
		left: 16px;
		position: relative;
		top: 7px;
		width: 127px;
		float:left;
		text-align:center;
		font-weight: bold;
		font-size: 16px;
		color:#5E5E5E;
		line-height:35px;
		background:url(images/confirmbtbg.png);
	}
	/*newly added css for goto changes*/
	#tabMenu>div
	{
		width:99px;
		height:29px;
		-webkit-margin-right-collapse: separate;
	    -webkit-margin-left-collapse: separate;
	    -webkit-background-size:100% 100%;
	}
	.contentBackground
	{
		
		-webkit-background-size:100% 100%;
		height:41px;
		width:320px;
	}
	#tabMenu
	{
		position: absolute;
		top:38px;
		width: 306px;
		z-index: 8;
		margin-top:4px;
		left:0px;
	}
	
	.floatLeft
	{
	   float:left;
	}
	
	.floatRight
	{
	 float:right;
	}
	
	.leftSideRound
	{
		-webkit-border-top-left-radius:10px;
		-webkit-border-bottom-left-radius:10px;
	}
	
	.rightSideRound
	{
		-webkit-border-top-right-radius:10px;
		-webkit-border-bottom-right-radius:10px;
	}
	
	.menubutton
	{
		cursor:pointer;
		height:30px;
		font-family: Helvetica;
		/*text-shadow: #000 0px 0px 2px;	*/ 
		border-width: 0px 5px 0px 8px;
		line-height:2.2em;
		font-weight: bold;
		font-size: 12px;
		color:#9E9E9E;
		text-align:center;
	}
	
	.buttonOver
	{
		background:url(images/bluebg.png) !important;
		-webkit-background-size:100% 100%;
		color: white !important;
	}
	
	.menubuttonoutlineInactive
	{
		cursor:pointer;
		
		background:url(images/content.png);
	}
	.menubuttonoutlineActive
	{
		cursor:pointer;
		
		background:url(images/content_a.png);
	}
	.menubuttonglossaryInactive
	{
		cursor:pointer;
		
		background:url(images/glosarry.png);
	}
	.menubuttonglossaryActive
	{
		cursor:pointer;
		
		background:url(images/glosarry_a.png);
	}
	.menubuttonbookmarksInactive
	{
		cursor:pointer;
		height:29px;
		background:url(images/bookmark.png);
	}
	.menubuttonbookmarksActive
	{
		cursor:pointer;
		background:url(images/bookmark_a.png);
	}
	.buttonBg
	{
		width:2px !important;
		height:29px !important;
		background:url(images/seperator.png);
	}
	
	/*End of newly added css for goto changes*/
	.popupheader
	{
		background-color: transparent;
		color: white;
		display: block;
		font-family: Helvetica;
		font-size: 18px;
		font-weight: bold;
		height: 44px;
		left: 131px;
		overflow-x: hidden;
		overflow-y: hidden;
		position: absolute;
		text-shadow: rgba(0, 0, 0, 0.59375) 0px -1px 0px;
		top: 15px;
		white-space: nowrap;	
		z-index:5;
	}
	
	.button
	{
		border-bottom-left-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
		border-top-left-radius: 5px 5px;
		border-top-right-radius: 5px 5px;
		height: 29px !important;
		line-height: 2em !important;
		position: relative;
		top: 12px;
		width: 60px;
		margin-right: 20px;
		background: url(images/ipad_tab_menu_seperator.png);
		-webkit-background-size: 100% 100%;
		border-width: 0px 5px 0px 8px;
		color: white;
		cursor: pointer;
		font-family: Helvetica;
		font-size: 14px;
		font-weight: bold;	
		text-align: center;
		text-shadow: black 0px 2px 2px;
		left:5px;
	}

	.glossary
	{
		padding-left:10px;
		padding-right:10px;
	}
	
	.bkDescription
	{
		font-weight:bold;
		float:left;
		width:100px;
		padding-left:10px;
	}
	
	.bookmarkAddButton
	{
		left:127 !important;
	}
	.bookmarkTitle
	{
		padding-left:10px;padding-bottom:15px;color:white;
	}
	
	.bookmarkSubDiv
	{
		float:left;width:100%;margin-left:10px;margin-top:10px;
	}
	
	.gotoArrow
	{
		position:absolute;
		top:49px;
	}
	
	.outlineArrow
	{
		left:885px;
	}
	
	.calculatorArrow
	{
		left:843px;
	}
	
	.searchArrow
	{
		left:929px;
	}
	
	.helpArrow
	{
		left:972px;
	}
    
	.parentPOpup
	{
		height:330px;
		position:relative;
		width:320px;
	}
	
	.contentContainer
	{
		height:235px;
		left:4px;
		top:35px;
		width:296px;
		position:relative;
	}
	
	#gotopopupRight
	{
		position:absolute;z-index:6;left:1003px;top:53px;height:330;width:17px;
	}
	
	#gotopopupLeft
	{
		position:absolute;z-index:6;left:684px;top:53px;height:330;width:17px;
	}
	
	.searchImage
	{
		cursor: pointer;
		height: 16px;
		left: 12px;
		position: absolute;
		top: 14px;
		width: 16px;
		z-index: 20;
	}
	
	.searchCancel
	{
		cursor: pointer;
		height: 16px;
		left: 279px;
		position: absolute;
		top: 14px;
		width: 16px;
		z-index: 20;
	}
	
	.helpItemMain
	{
		background: white;
		border-bottom-left-radius: 7px 7px;
		border-bottom-right-radius: 7px 7px;
		border-top-left-radius: 7px 7px;
		border-top-right-radius: 7px 7px;
		left: 4px;
		max-height: 253px;
		min-height: 272px;
		overflow: hidden;
		position: relative;
		top: 5px;
		width: 294px;
	}
	
	.responsex 
	{
		left:683px !important;
	}
	
	.backgroundCoverVideo
	{
		opacity:0.5;
		position:absolute;
		top:44px;
		left:0px; 
		height:660px; 
		width:100%; 
		background:gray;
		z-index:4;
	}
	
	.audio
	{
		-webkit-background-size: 100% 100%;
		height: 50px;
		left: 970px;
		position: absolute;
		top: 590px;
		width: 50px;
		z-index:13;
	}
	.play
	{
		background:url(images/mlearning_play_audio_ipad.png);
	}
	
	.played
	{
		opacity:0.3;
	}