.btnLargeDefault
	{
		box-shadow:0px 0px 4px black;
	}
	
	.btnNormalDefault
	{
		box-shadow:0px 0px 4px black;
	}
	
	.btnNormalInactive
	{
		box-shadow:0px 0px 4px black;
	}
	
		.btnLightDefault
	{
		box-shadow:0px 0px 4px black;
	}
	
	.homebutton
	{
		box-shadow:0px 0px 4px black;
	}
	
		.titlehomebutton
	{
		box-shadow:0px 0px 4px black;
	}
