
.Scroller-Container {
  position: relative;
  top: 0px; 
  left: 0px;
  padding:6px;	
  width:400px;
  height:173px;
  }
  
 
.Scroller-Container1 {
  position: relative;
  top: 0px; 
  left: 0px;
  padding:6px;	
  width:400px;
  height:173px;
  }

.shadow{
-moz-box-shadow: 0 0 5px #000000;
-webkit-box-shadow: 0 0 5px #000000;
box-shadow: 0 0 5px #000000;
-o-box-shadow:0 0 5px #000000;
}

.Scroller-ContainerForGTB {
  position: absolute;
  top: 0px; 
  left: 0px;
  padding:6px;	
  width:560px;
  height:339px; 
  }
