body {font-family:Times New Roman;}

.address {
	text-align:left;
	font-size:12px;
	margin:0px;
	padding:0px 0px 0px 8px;}

.starburst {
	position:absolute;
	z-index:10;
	left:520px;
	top:20px;}

.centralDiv {
	text-align:center;
	padding:20px 0px 20px 0px;}

.fluf {
	font-size:12px;
	font-style:italic;
	padding:0px;
	margin:0px;}

.name {
	font-size:30px;
	padding:2px;
	margin:0px;}

.title {
	font-size:26px;
	padding:2px;
	margin:0px;}

.passDate {
	font-size:18px;
	padding:0px;
	margin:0px;}

.label {
	font-weight:bold;
	font-size:18px;
	margin:6px 0px 0px 0px;}

.nasba {
	font-size:18px;
	margin:4px 18px 0px 18px;}

.nasbaSecondary {
	font-size:12px;
	margin:8px 18px 0px 18px;
   text-indent:-6px;}

.FOSnCredits {
	padding: 6px 30px 0px 40px;}

.certTable1 {
	width:100%;
	margin:20px 0px 0px 0px}

.certTable2 {
	width:100%;
	margin:10px 0px 0px 0px}

.certTd {
	padding-top:16px;
	vertical-align:top;
	width:50%;
	font-size:12px;}

.director {
	font-size:12px;
	margin:0px;
	padding:0px;}

.certImg {padding:0px; margin:0px;}